<style>
#cv {
  width: 100%;
  margin: 0 auto;
  max-width: 70%; /*960px*/
  @media only screen and (min-width: $cut) {
    width: 100%;
  }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid lightgray;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

</style>

<div class="cv">
  <h1 style="text-align: center;"> My Background </h1>
</div>

<button class="accordion"><b>Work Experience</b></button>
<div class="panel">
  <ul>
    <li>2010~2016, Teacher of Computer Science at Termez State University (full time)</li>
    <li>2008~2010, System Administrator at Center of Information Technology of Termez State University (part time)</li>
    <li>2007~2008, Teacher of Computer Science at Termez High School of Computer Science (full time)</li>
  </ul>
</div>

<button class="accordion"><b>Education</b></button>
<div class="panel">
  <p><b>Degrees</b></p>
  <ul>
    <li>2016~present, PhD candidate in School of Computer Science at Huazhong University of Science and Technology</li>
    <li>2008~2010, Master's Degree in Mathematics (Differential Equations) at Termez State University</li>
    <li>2003~2007. Bachelor's Degree in Applied Mathematics and Information Technology at Termez State University</li>
  </ul>
  <p><b>Internships</b></p>
  <ul>
    <li>2015 August, Kyoung Hee University, Seoul, Korea</li>
    <li>2012~2013, Central China Normal University, Wuhan, China</li>
  </ul>
</div>

<button class="accordion"><b>FAQ</b></button>
<div class="panel">
  <p><b>General</b></p>
  <ul>
    <li><b>Spoken Languages: </b>Uzbek, English</li>
    <li><b>From: </b>Uzbekistan</li>
  </ul>

  <p><b>Fafourites</b></p>
  <ul>
    <li><b>Computer: </b>Raspberry Pi</li>
    <li><b>OS: </b>Ubuntu</li>
    <li><b>Cloud: </b>Mega</li>
    <li><b>Text Editor: </b>Atom</li>
    <li><b>Browser: </b>Chrome</li>
    <li><b>HTML & CSS Framework: </b>Bootstrap</li>
    <li><b>Programming Languages: </b>JavaScript, Python</li>
    <li><b>Database: </b>MongoDB</li>
    <li><b>Front End JS Framework: </b>Angular</li>
    <li><b>Server Side Technology: </b>NodeJS</li>
    <li><b>Server Side Framework: </b>Express</li>
    <li><b>Desktop App Dev: </b>Electron</li>
    <li><b>Mobile App Dev: </b>NativeScript</li>
    <li><b>Car: </b>Tesla</li>
  </ul>

  <p><b>Hobbies</b></p>
  <ul>
    <li>Swimming, Running, Hiking, Climbing, Table Tennis, Traveling</li>
    <li>Coding, AI, Making Robots and Smart Devices</li>
  </ul>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
