<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> OBORCHAIN </h3>
    <ul>
      <li> About</li>
    </ul>
    <p>OBORCHAIN is a Blockchain solutions project for One belt & One Road member countries.</p>
    <a class="project-link" href="https://oborchain.github.io">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ArtNetwork Blockchain project </h3>
    <ul>
      <li> About</li>
    </ul>
    <p>ArtNetwork is a Blockchain based Art project aiming to protect Art authors and enthusiasts rights.</p>
    <a class="project-link" href="https://artnetwork.github.io">Check it out</a>
  </div>
</div>
